{% extends "base.html" %}

{% block title %}Judge Check-in{% endblock %}
{% block banner %}Judge Check-in{% endblock %}

{% block content %}

<div id="batch_checkin" class="container">
  {% for form in forms %}
  <div class="checkin_row row">
    <form action="/" method="post">
      <div class="span3"><p>{{ form.judge.name }}</p></div>
      <div class="span8">{{ form.as_ul }}</div>
      <div class="span1"><input class="btn" type="submit" value="Submit" /></div>
    </form>
  </div>
  {% endfor %}
</div>

{% endblock %}
